/* section password */
.text-green {
	color: #19C078;
}

.text-danger {
	color: #EC1313 !important;
}

.section-password {
    margin-top: 120px;
    margin-bottom: 80px;
}

.section-password .text-box {
    max-width: 400px;
}

.dropdown-toggle.btn-transparent {
    background: #F8F8F8;
    padding: 10px 15px;
    border-radius: 10px;
}

.dropdown-toggle.btn-transparent::after {
    display: none;
}

.dropdown-menu.profile {
    border-radius: 25px;
    border-bottom: 10px solid #19C078;
}

.dropdown-menu.profile .dropdown-item {
    color: #263238;
}

.dropdown-menu.profile li .dropdown-item span {
    width: 140px;
}

.reset-wraper {
	margin: 40px;
}

.reset-wraper .reset-card {
	max-width: 500px;
	margin: auto;
}

.form-reset label {
	color: #263238;
	font-weight: 500;
}

.form-reset small {
	font-size: 12px;
}

.form-reset input {
	color: #A4A4A4;
	font-size: 14px;
	padding: 10px 15px;
	border: none;
	background: #F8F8F8;
}

.form-reset .form-control{
	border: 0.5px solid #959595;
}

.form-reset .form-control:focus {
	border-color: #19C078 !important;
	background-color: #f8f8f8 !important;
	box-shadow: 0 0 0 0.25rem rgb(25 192 120 / 50%) !important;
}

.form-reset .form-control.is-invalid {
	border: 2px solid #EC1313 !important;
	background-image: none !important;
}

.field-icon {
	float: right;
	margin-left: -25px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
}

.form-reset input {
	color: #A4A4A4;
	font-size: 14px;
	padding: 10px 15px;
	border: none;
	background: #F8F8F8;
}

.form-reset .form-control:focus {
	border-color: #19C078 !important;
	background-color: #f8f8f8 !important;
	box-shadow: 0 0 0 0.25rem rgb(25 192 120 / 50%) !important;
}

.form-reset .current-pw, .form-reset .new-pw, .form-reset .confirm-pw {
	position: relative;
}

.form-reset .toggle-hide {
	font-size: 14px;
	color: #263238;
	position: absolute;
	top: 48px;
	right: 15px;
	cursor: pointer;
}

@media (max-width: 596px) {
    .section-password .top-content {
        margin-left: 40px;
        margin-right: 40px;
    }
    .section-password h1 {
        font-size: 1.5rem;
    }
    .section-password p {
        font-size: 14px;
    }
    .section-password .text-box {
        max-width: 300px;
    }
}

@media (max-width: 430px) {
    .dropdown-menu.profile li .dropdown-item span {
        width: 120px;
    }
    .dropdown-menu.profile .dropdown-item {
        font-size: 12px;
    }
    .section-password .text-box {
        max-width: 180px;
    }
}