* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-light {
    background: #fff !important;
}

@media (max-width: 990px) {
    .navbar-light {
        padding-bottom: 20px;
    }
}

.nav-link {
    color: #000 !important;
}

.nav-link.active {
    color: #19C078 !important;
}

.nav-link.profile {
    padding-left: 1.5rem !important;
}

@media (max-width: 990px) {
    .nav-link.profile {
        padding-left: 0 !important;
    }
}

.img-profile {
    width: 40px;
    border-radius: 50%;
}

.dropdown-menu {
    padding: 0 20px;
    border-bottom: 4px solid #19C078;
}

.dropdown-item {
    padding: 10px 0;
}

.dropdown-item.border-b {
    border-bottom: 1px solid #D8D8D8;
}

.slider {
    background-image: url('../img/user-page/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-nav {
    margin-left: 20px;
}

@media (max-width: 990px) {
    .btn-nav {
        margin-left: 0;
    }
}

.btn-nav .btn {
    border-color: #19C078 !important;
    border-radius: 50px;
    padding: 5px 20px;
}

.container.content {
    padding-top: 100px;
}

.section-card {
    margin: auto;
    max-width: 900px;
}

.card.item {
    border: none;
    background: transparent !important;
    margin: 40px 40px 0 0;
    height: 350px;
    position: relative;
}

@media (max-width: 767px) {
    .card.item {
        margin: 40px 0;
    }
}

.card.item .card-title {
    font-weight: 700;
    color: #263238;
}

.card.item .card-text {
    font-size: 14px;
    color: #0E0E0E;
    position: absolute;
    left: 15px;
    bottom: 40px;
}

.card.item .btn-success.gradient {
    position: absolute;
    left: 15px;
    bottom: 10px;
    background-image: linear-gradient(to right, #4FDF85 50%, #19C078 100%);
    transition: 0.5s;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 5px 20px;
}

.section-regis {
    background: #19C078;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 80px 0;
    position: relative;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    clip-path: circle(650px at right 850px);
}

.section-regis .regis-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regis-content .textBox {
    position: relative;
    max-width: 700px;
    padding-left: 8%;
}

.regis-content .textBox h2 {
    color: #333;
    font-size: 2.8em;
    line-height: 1.4em;
    font-weight: 600;
}

.regis-content .textBox h2 span {
    color: #e12e56;
    font-size: 1em;
    font-weight: 900;
}

.regis-content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #e12e56;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.regis-content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    margin-top: 20px;
}

.regis-content .imgBox img {
    max-width: 500px;
}
